:root {
    /*--debugBorderWidth: 1px;*/
}

* {
    font-family: serif;
    margin: 0px; 
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.scene {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    transform-style: preserve-3d;
    perspective: 150vw;
    /*transform: rotate3d(1, 0, 0, -5deg);*/
}

.box {
    position: absolute;
    z-index: 0;
    width: 100vw;
}

.bgimg {
    border: var(--debugBorderWidth) yellowgreen solid; 
    position: absolute;
    height: 50vw;
    background-color: #333;
    transform: translateZ(-50vw);
}

.sceneContent {
    transform: translateZ(-10vw);
    z-index: 2;
}

.floor {
    border: var(--debugBorderWidth) purple solid;
    position: absolute;
    background-color: orange;
    background-image: url("../Assets/wood.jpg");
    height: 100vw;
    z-index: 0;
    transform: rotate3D(1, 0, 0, 90deg) translateZ(-25vw);
}

.leftwall {
    border: var(--debugBorderWidth) blue solid;
    position: absolute;
    background-color: #333;
    height: 50vw;
    z-index: 0;
    transform: rotate3D(0, 1, 0, 90deg) translateZ(-50vw);
}

.rightwall {
    border: var(--debugBorderWidth) blue solid;
    position: absolute;
    background-color: #222;
    height: 50vw;
    z-index: 0;
    transform: rotate3D(0, 1, 0, 90deg) translateZ(50vw);
}

.ceiling {
    border: var(--debugBorderWidth) red solid;
    position: absolute;
    background-color: #222;
    height: 100vw;
    z-index: 0;
    transform: rotate3d(1, 0, 0, 90deg) translateZ(25vw);
}

.sceneGridParent {
    border: var(--debugBorderWidth) solid red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sceneGrid {
    border: var(--debugBorderWidth) solid yellow;
    width: 100%;
    margin: 7%;
    z-index: 1;
    aspect-ratio: 2/1;
    gap: 1%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

.grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--debugBorderWidth) solid black;
    justify-self: stretch;
    height: 100%;
}

.sign {
    border: var(--debugBorderWidth) solid darkgreen;
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.signContent {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5cqw;
}

.string {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100vh;
    top: -99vh;
    border: 2px solid black;
    z-index: 1;
}

.show {
    animation: show 5s;
    -webkit-animation: show 5s;
    animation-timing-function: cubic-bezier(.2,.3,.3,1);
    -webkit-animation-timing-function: cubic-bezier(.2,.3,.3,1);
}

@keyframes show {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: none;
    }
}

@-webkit-keyframes show {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: none;
    }
}

.hide {
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    animation: hide 5s;
    -webkit-animation: hide 5s;
    animation-timing-function: cubic-bezier(.7,0,.8,.7);
    -webkit-animation-timing-function: cubic-bezier(.7,0,.8,.7);
}

@keyframes hide {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100vh);
    }
}

@-webkit-keyframes hide {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-100vh);
    }
}

