* {
    font-family: serif, cursive;
    margin: 0px; 
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.scene {
    width: 100%;
    height: 100%;
}

.sceneGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

.grid_item {
    border: 1px solid black;
    justify-self: center;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

